<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>isfacebooktrackingme</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Zuckerberg</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>prismicon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Prism</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>blurryicon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlurryIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>darkicon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DarkIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dramaticicon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DramaticIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>fadingicon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Fading</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>glyphicon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>GlyphFade</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>halftone</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array/>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>ios6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IOS6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>lightblueicon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightBlue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>lighticon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>metalicon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Metal</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>morningicon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MorningIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>TheOrangeOne</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>paper</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Paper</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pixelatedicon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PixelatedIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>shadow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ColorShadow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>softicon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Soft</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>thepinkone</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ThePinkOne</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>thepurpleone</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ThePurpleOne</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>vortexicon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>VortexIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>LightIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>LightIcon@2x</string>
			<key>CFBundleURLName</key>
			<string>com.themorningcompany.expedition</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>expedition</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
